body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, inter;
}

#second-page{
    display: none;
    background-color: black;
    color: white;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #111;
  }
  
  .right {
    right: 0;
    background-color: #575A85;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1{
    color:#575A85;
  }

  .split p, .split h3{
    color: #B8BCCC;
  }
  
  #start-btn{
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    width: 60%;
    font-size: 20px;
    padding: 6px;
    cursor: pointer;
  }

  .ip-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
  }

  #address-details{
    background-color: black;
    color: white;
  }

  #address-details p{
    margin-left: 10px;
  }

  #location{
    background-color: #575A85;
    color: white;
    display: grid;
    justify-content: center;
  }

  #map{
    width: 800px;
    height: 400px;
    padding: 25px;
  }

  #more-info, #post-offices, #address-details, #location{
    padding: 25px;
    font-size: 22px;
  }

  #more-info div{
    padding: 10px;
  }

  h2{
    text-align: center;
  }

  #search-box{
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin: 0 auto;
    display: block;
  }

  #grid{
    display: grid;
    grid-template-columns: auto auto;
    gap:25px;
    margin-top: 25px;
  }

  #post-office{
    background-color: #575A85;
    color: white;
  }

  #post-office p{
    padding-left: 20px;
  }